/*main stuff*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Karla", sans-serif;
    background-color: royalblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
    overflow: hidden;
}

header {
    background-color: #333;
    color: white;
    padding: 5px 0px 10px;
    border-radius: 0 0 15px 15px;
    position: fixed;
    top: 0;
    display: initial;
    width: 100%;
}

#change {
    position: fixed;
    z-index: 10000;
    left: 1%;
    margin: auto;
}

header button:hover, #change:hover {
    background-color: floralwhite;
}

.navbarlink, #change {
    border-radius: 15px;
    border-color: dodgerblue;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
}

b {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}

.bslide {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    position: relative;
    bottom: -500px;
    animation: buttonSlideIn 1s forwards;
}

#alec {
    background-color: white;
    padding: 10px;
    border-radius: 500px;
    width: 320px;
    display: flex;
    margin: 0 auto;
    animation: rotate 5s infinite linear;
    z-index: 3;
}

#reset {
    bottom: 20%;
}

#skin {
    bottom: 16.5%;
}

#newalec {
    position: fixed;
    font-size: 50px;
    top: -100%;
    transition: top 0.5s;
}

#maindiv {
    display: block;
}

#news {
    position: fixed;
    display: block;
    text-align: center;
    right: 50%;
    top: 1%;
    transform: translateX(50%);
    margin: 0;
    width: 95%;
    user-select: none;
}

.news {
    animation: topslide 1.2s forwards;
}

#upgradesdiv {
    position: fixed;
    top: 0;
    right: -340px;
    width: 325px;
    height: 100vh;
    background-color: lightskyblue;
    overflow-y: auto;
    padding: 5px;
    transition: right 0.5s;
    border-radius: 15px;
}

#autoclick1, #autoclick1cost,
#autoclick2, #autoclick2cost,
#autoclick3, #autoclick3cost,
#autoclick4, #autoclick4cost,
#autoclick5, #autoclick5cost,
#autoclick6, #autoclick6cost,
#autoclick7, #autoclick7cost,
#autoclick8, #autoclick8cost,
#autoclick9, #autoclick9cost,
#autoclick10, #autoclick10cost,
#autoclick11, #autoclick11cost,
#autoclick12, #autoclick12cost,
#autoclick13, #autoclick13cost,
#soonupg {
    display: inline-block;
    padding: 5px;
    background-color: white;
    color: black;
    margin: 1px;
}

#soonupg {
    background-color: slategray;
}

#descbox {
    position: absolute;
    background-color: white;
    opacity: 0.9;
    padding: 10px;
    border-radius: 15px;
    border: 1px outset dodgerblue;
    z-index: 2;
}

#changelog {
    position: fixed;
    bottom: -100%;
    max-height: 50%;
    overflow-y: auto;
    transition: bottom 0.5s;
    opacity: 0.9;
}

#loading img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
}

#content, #descbox, header {
    display: none;
}

.slider {
    font-family: "Karla", sans-serif;
    position: fixed;
    width: auto;
    height: 100px;
    top: 5%;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 2px black;
    animation: slideUpgrades 5s linear forwards;
    z-index: -1;
}

.add {
    font-family: "Karla", sans-serif;
    position: absolute;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 2px black;
    opacity: 0;
    animation: fadeOut 1s ease-out forwards;
    pointer-events: none;
}

.fall {
    position: absolute;
    width: auto;
    height: 100px;
    bottom: 50%;
    animation: fall 2s linear;
    z-index: -1;
}

.shape {
    position: absolute;
    width: auto;
    height: 100px;
    bottom: 50%;
    animation: moveimg 2s linear;
    opacity: 0;
    z-index: -1;
}

.topslide {
    animation: topslide 1.2s forwards;
}

.topslide2 {
    animation: topslide2 1.2s forwards;
}

.bottomslide {
    animation: bottomslide 1.2s forwards;
}

.bottomslide2 {
    animation: bottomslide2 1.2s forwards;
}

/*hover*/
#newalecb:hover, #alec:hover, button:hover {
    cursor: pointer;
}

#soonupg:hover {
    cursor: not-allowed;
}

button:hover {
    background-color: lightskyblue;

}

/*animation*/
@keyframes slideUpgrades {
    0% {
        left: -10%;
    }
    100% {
        left: 100%;
    }
}

@keyframes buttonSlideIn {
    from {
        bottom: -500px;
    }
    to {
        bottom: 0;
    }
}

@keyframes topslide {
    from {
        top: -100%;
    }
    to {
        top: 1%;
    }
}

@keyframes topslide2 {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

@keyframes bottomslide {
    from {
        top: 1%;
    }
    to {
        top: -100%;
    }
}

@keyframes bottomslide2 {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes moveimg {
    0% {
        opacity: 1;
        left: -10%;
    }
    99% {
        opacity: 1;
        left: 45%;
    }
    100% {
        opacity: 0;
    }
}

/*mobile*/
@media only screen and (max-width: 768px) {
    #alec {
        animation: none;
    }

    #descbox {
        opacity: 0;
    }

    #upgradesdiv button {
        font-size: 10px;
    }

    #upgradesdiv {
        width: auto;
        height: auto;
    }

    #change {
        bottom: 1%;
        position: fixed;
    }
    #pform {
        display: none;
    }
}