/*main stuff*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
    display: flex;
    font-family: "Karla", sans-serif;
    background-color: royalblue;
    justify-content: center;
    align-items: center;
    text-align: center;
}

b {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}

button {
    background-color: white;
    border-radius: 15px;
    border-color: dodgerblue;
    font-family: "Karla", sans-serif;
    font-size: 20px;
}

#alec {
    background-color: white;
    padding: 10px;
    border-radius: 500px;
    width: 320px;
    display: flex;
    margin: 0 auto;
    animation: m 5s infinite linear;
}

#reset {
    bottom: 20%;
}

#skin {
    bottom: 16.5%;
}

#newalec {
    position: fixed;
    font-size: 50px;
    left: -100%;
    transition: left 0.5s;
}

#maindiv {
    display: block;
}

#news {
    position: fixed;
    display: block;
    text-align: center;
    right: 50%;
    top: 1%;
    transform: translateX(50%);
    margin: 0;
    width: 95%;
}

#upgradesdiv {
    position: fixed;
    top: 0;
    right: -100%;
    width: 325px;
    height: 99%;
    background-color: lightskyblue;
    overflow-y: auto;
    padding: 5px;
    transition: right 0.5s;
    border-radius: 15px;
}

#autoclick1, #autoclick1cost,
#autoclick2, #autoclick2cost,
#autoclick3, #autoclick3cost,
#autoclick4, #autoclick4cost,
#autoclick5, #autoclick5cost,
#autoclick6, #autoclick6cost,
#soonupg {
    display: inline-block;
    padding: 5px;
    background-color: white;
    color: black;
    margin: 1px;
    cursor: pointer;
}

#soonupg {
    background-color: slategray;
}

#descbox {
    position: absolute;
    background-color: white;
    opacity: 0.9;
    padding: 10px;
    border-radius: 15px;
    border: 1px outset dodgerblue;
    z-index: 1;
}

#changelog {
    position: fixed;
    bottom: -100%;
    max-height: 50%;
    overflow-y: auto;
    transition: bottom 0.5s;
}

#loading img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
}
#content, #descbox {
    display: none;
}

/*hover*/
#newalecb:hover, #alec:hover, button:hover {
    cursor: pointer;
}

#soonupg:hover {
    cursor: not-allowed;
}

button:hover {
    background-color: floralwhite;
}

/*animation*/
@keyframes m {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}