html, body {
    height: 100%;
    margin: 0;
    padding: 0; 
    display: flex;
    font-family: "Karla", sans-serif;
    background-color: royalblue;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#alec {
    background-color: white;
    padding: 10px;
    border-radius: 500px;
    width: 320px;
    display: flex;
    margin: 0 auto;
    animation: m 5s infinite linear;
}

#reset {
    bottom: 20%;
}

#skin {
    bottom: 16.5%;
}

#alec:hover, button:hover {
    cursor: pointer;
}

button:hover {
    background-color: floralwhite;
}

b {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}

button {
    border-radius: 15px;
    border-color: dodgerblue;
    font-family: "Karla", sans-serif;
    font-size: 20px;
}

#newalec {
    display: none;
    top: 10px;
    position: fixed;
    font-size: 50px;
}

#newalecb:hover {
    cursor: pointer;
}

#maindiv {
    display: block;
}

#upgradesdiv {
    display: none;
}

#autoclick1, #autoclick1cost {
    background-color: slategrey;
}

#autoclick1:hover, #autoclick1cost:hover {
    cursor: pointer;
}

@keyframes m {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}