html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}

.l {
    color: royalblue;
}

.navbar {
    display: block;
    background-color: #333;
    color: white;
    padding: 5px 0px 10px;
    border-radius: 0 0 15px 15px;
}

.navbarlink {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
}

.logo, p {
    font-size: 20px;
    font-weight: bold;
}

.footer {
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    border-radius: 15px 15px 0 0;
}

.container {
    display: flex;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: 5%;
    padding: 0 20px;
}

.scontainer {
    display: block;
    padding: 20px;
}

.column {
    background-color: white;
    padding: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    border-radius: 15px;
}
 
.columnleft img, .columncenter img, .columnright img {
    height: 90%;
    width: 100%;
    border-radius: 15px;
}

.columnleft2 img, .columncenter2 img, .columnright2 img {
    float: left;
    flex: 33.33%;
    width: 20%;
    border-radius: 15px;
}

.columnleft2 p {
    float: left;
    flex: 33.33%;
    width: 20%;
    border-radius: 15px;
}

img:hover, button:hover, .hover:hover, .navbarlink:hover, .indtxt:hover {
    cursor: pointer;
}

button {
    border-radius: 15px;
    border-color: dodgerblue;
    font-family: "Karla", sans-serif;
    font-size: 20px;
}

button:hover {
    background-color: floralwhite;
}

html {
    background-color: royalblue;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkslategray;
}

.center-content {
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
}

.line {
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid grey;
    width: 5%;
}

.gforms, .songtext {
    display: inline-flex;
    border-radius: 15px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.songtext {
    background-color: white;
    margin: 10px;
}

.songvideo {
    border-radius: 15px;
    width: 560px;
    height: 315px;
    margin: 0 auto;
    display: block;
}

.txt {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}

.navbarimg {
    width: 3%;
}

/*.ano {
    background-color: white;
    padding: 15px;
    flex: 1;
    border-radius: 15px;
    font-weight: bold;
    font-size: 100px;
}archived in case i need to make another*/

.fix {
    position: fixed;
    bottom: 2%;
    left: 95.5%;
}

.fix:hover {
    width: 6%;
    left: 92.5%;
}

.fixt {
    position:fixed;
    bottom: 10%;
    left: 95.5%;
}

::-webkit-scrollbar {
    width: 0;
}