html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}

.navbar, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0 0 15px 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    z-index: 2;
}

.footer {
    padding-bottom: 20px;
    border-radius: 15px 15px 0 0;
}

.container {
    display: flex;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: 5%;
    height: 100%;
    justif/*congrats you found the secret
All I need's a little love in my life
All I need's a little love in the dark
A little but I'm hoping it might kick start
Me and my broken heart
I need a little loving tonight
Hold me so I'm not falling apart
A little but I'm hoping it might kick start
Me and my broken heart
Yeah
Shotgun, aimed at my heart, you got one
Tear me apart in this song
How do we call this love
I tried, to run away but your eyes (woah-oh-oh-oh)
Tell me to stay, oh why
Why do we call this love? (Woah-oh-oh-oh)
It seems like we've been losing control
Somebody tell me I'm not alone
When I say
All I need's a little love in my life
All I need's a little love in the dark
A little but I'm hoping it might kick start
Me and my broken heart
I need a little loving tonight
Hold me so I'm not falling apart
A little but I'm hoping it might kick start
Me and my broken heart
Uh, maybe some part of you just hates me
You pick me up and play me
How do we call this love? (Woah-oh-oh-oh)
One time tell me you need me tonight
To make it easy, you lie
And say it's all for love (woah-oh-oh-oh)
It seems like we've been losing control
Somebody tell me I'm not alone
When I say
All I need's a little love in my life
All I need's a little love in the dark
A little but I'm hoping it might kick start
Me and my broken heart
I need a little loving tonight
Hold me so I'm not falling apart
A little but I'm hoping it might kick start
Me and my broken heart
Me and my broken heart
Me and my broken
Yeah, yeah, yeah
It's just me
It's just me
It's just me
Me and my broken heart
All I need's a little love in my life (baby)
All I need's a little love in the dark
A little but I'm hoping it might kick start
Me and my broken heart
I need a little loving tonight
Hold me so I'm not falling apart
A little but I'm hoping it might kick start
Me and my broken heart
my heart hasnt been broken but you get the point*/y-content: center;
    align-items: center;
    vertical-align: middle;
}

.column {
    background-color: #f2f2f2;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    flex: 1;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    flex-grow: 1;
}

h1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    background-color: royalblue;
}

a {
    text-decoration: none;
}

a:hover {
    color: darkslategray;
}

.center-content {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

.line {
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid grey;
    width: 5%;
}

.page {
    display: none;
}
.page.active {
    display: block;
}
::-webkit-scrollbar {
    width: 0;
}
